body {font-family: Georgia, Garamond, "Times New Roman", serif;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
       "header"
       "main"
       "footer";
      grid-gap: 16px;}

header, footer {background-color: rgba(20, 12, 31, 1)}
main{display: grid;
     grid-template-columns: 1fr, 1fr;
     grid-template-areas:
     "image1" "image2"
     "image3" "image4";
     grid-gap: 16px;
     margin: 0 auto;}

section {}

h1, h2, h3 {font-family: "Trebuchet MS", Verdana, Arial, sans-serif;}
h1{text-align: center;
   text-transform: uppercase;
   font-size: 4em;
   color: rgba(255, 255, 255, 1);

   margin-top: 0.5em;
   margin-bottom: 0.5em;}
h2{text-align: center;
   font-size: 0.8em;
   color: rgba(150, 150, 150, 1);

   margin-top: 0.25em;}

section img{border: 3px solid rgba(108,137,112,0.3);
            text-align: center;}
section p{text-align: center;
          max-width: 960px;}

a:link {color: rgba(229,152,155,1);}
a:visited {color: rgba(181, 131, 141,1);}
a:hover{color: rgba(255, 221, 210,1);}
a:active{color: rgba(217, 204, 217, 1);}

#squid-game{display: grid;
     grid-template-columns: 1fr;
     grid-template-areas:
     "image1"
     "image2"
     "image3"
     "image4";
     grid-gap: 16px;
     margin: auto;}
