body {
   font-family: Georgia, Garamond, "Times New Roman", serif;
   font-size: 1.2em;
   line-height: 1.5;
   text-align: left;

   display: grid;
   grid-template-columns: 1fr;
   grid-template-areas:
    "header"
    "main"
    "footer";
   grid-gap: 16px;

   max-width: 1600px;
   margin: 0 auto;

   background-color: rgba(255, 255, 255, 1);
}

header, footer {background-color: rgba(245, 245, 245, 1);}
section {background-color: rgba(211, 213, 219, 0.1)}

h1, h2, h3 {font-family: "Trebuchet MS", Verdana, Arial, sans-serif;}

h1 {
  margin: 0;

  letter-spacing: 1.8em;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  color: rgba(44, 49, 74, 1);

  /*I'm not sure how to get the last space in the word 'finland' to go away so that it centers evenly*/
}
h2{
  margin-top: 0;

  text-transform: uppercase;
  font-size: 1.6em;
  color: rgba(62, 69, 105, 1);
  border-bottom: 2px solid
}
h3{
  margin: 0;
  text-transform: lowercase;
  font-size: 1.6em;
  color: rgba(45, 56, 46, 0.7); }
}

header {
  padding: 16px;
  grid-area: header;
}

main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
   "introduction introduction introduction"
   "geography people-and-society military";
  grid-gap: 16px;

  background-color: rgba(176, 191, 180,0.15);
}

footer {
  grid-area: footer;
  padding: 16px;
}
footer p {
  margin: 0;
}

section table, caption, figcaption, li {
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  color: rgba(62, 69, 105, 1);
}

section{
  padding: 16px;
  color: rgba(31,54,61,1);
}
section p{
  font-size: 1em;
}
section table{
  font-size: 0.9em;
  padding: 1em 1em 1em 1em;

  box-sizing: border-box;
  width: 500px;
  height: 200px;
  background-color: rgba(255, 255, 255,0.3);
 }
section figure{
  text-align:center;
  font-weight: bold;
}
section img{
  border: 3px solid rgba(108,137,112,0.3);
}
section caption{
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;

  margin-bottom: 12px;
}
section figcaption{
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 12px;
}
section li{

  box-sizing: border-box;
  width: 250px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1em 1em;

  list-style-type: none;
  text-transform: lowercase;

  text-align: left;
  font-size: 0.8em;
  color: rgba(31,54,61,1); }

a:link {color: rgba(51,106,125,1);}
a:visited {color: rgba(108,137,112,1);}
a:hover{color: rgba(104,161,144,1);}
a:active{color: rgba(102, 102, 112,.7);}

#introduction {
  grid-area: introduction;

  font-size: 1.2em;
  color: rgba(255,255,255,1);
  background-color: rgba(45, 56, 46, 0.7);
}
#introduction h2{
  margin: 0;
  font-size: 2em;
  color: rgba(225, 227, 225, 1);

}

#geography {
  grid-area: geography;
}
#people-and-society {
  grid-area: people-and-society;
}
#military {
  grid-area: military;
}
